<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gnote</title>
    <!-- Add Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #0000aa"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Gnote</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account">My Account</a>
            </li>
          </ul>
          <form class="d-flex" action="/logout" method="post">
            <button class="btn btn-danger" type="submit">Logout</button>
          </form>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <!-- Body -->
    <div class="container p-3">
      <div class="row">
        <div id="userinfo" class="col-md-3">
          <h1>Welcome, <br />@{{ username }}!</h1>
          <p class="text-primary fs-4">
            You've got <span id="count">{{ count }}</span> note(s) on Gnote.
          </p>
        </div>
        <div class="col-md-9">
          <div class="border border-primary p-2 rounded border-2 my-2">
            <div class="alert alert-danger" role="alert" id="newerror" hidden>
              <span id="newerrormsg"></span>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <span
                  class="textarea form-control"
                  role="textbox"
                  id="inputnote"
                  contenteditable
                ></span>
              </div>
            </div>
            <div>
              <button class="btn btn-primary" onclick="submitAndUpdate();">
                Create note
              </button>
              (ctrl + return)
              <div class="loader float-end" id="loader" hidden></div>
            </div>
          </div>
          <div id="notes">
            <div class="card isnote">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 0.9em">
                  {{ note.date }}
                </h5>
                <p class="card-text" style="font-size: 1.2em">
                  {{ note.body }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Body -->
    <!-- Footer -->
    <!-- <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer> -->
    <!-- End Footer -->

    <!-- Add scripts here -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script>
      // variables
      let username = "mrinjamul";
      let notes = [];

      noteDocument = document.getElementById("notes");
      userDocument = document.getElementById("userinfo");

      const nonotes = `
      <h1 id="nonewnotes">
        <p>You don't have any notes yet! Go ahead and write some!</p>
      </h1>
      `;
      let userinfo = `
      <h1>Welcome, <br />@${username}!</h1>
        <p class="text-primary fs-4">
          You've got <span id="count">${notes.length}</span> note(s) on Gnote.
        </p>
        `;

      function submitAndUpdate() {
        createNote = document.getElementById("inputnote");
        if (createNote.innerText == "") {
          return;
        }
        let note = {
          title: "untitled",
          content: createNote.innerText,
        };
        postData("/api/notes", note).then((data) => {
          fetchAndUpdate();
          createNote.innerText = "";
        });
      }

      async function postData(url = "", data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "same-origin", // include, *same-origin, omit
          headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: "follow", // manual, *follow, error
          referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
          body: JSON.stringify(data), // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
      }

      async function fetchAndUpdate() {
        const resp = await fetch("/api/notes");
        const data = await resp.json();
        let notes = await data.notes;
        if (notes.length == 0) {
          noteDocument.innerHTML = nonotes;
          userDocument.innerHTML = userinfo;
        } else {
          userDocument.innerHTML = userinfo;

          notesDiv = "";

          for (const note of notes) {
            let date = new Date(note.createdat);
            let noteDiv = `
            <div key=${note.id} class="card isnote">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 0.9em">
                  ${date.toString()}
                </h5>
                <p class="card-text" style="font-size: 1.2em">
                  ${note.content}
                </p>
              </div>
            </div>

            `;

            notesDiv += noteDiv;
          }
          userinfo = `
            <h1>Welcome, <br />@${username}!</h1>
              <p class="text-primary fs-4">
                You've got <span id="count">${notes.length}</span> note(s) on Gnote.
            </p>`;
          userDocument.innerHTML = userinfo;
          noteDocument.innerHTML = notesDiv;
        }
      }
      fetchAndUpdate();

      // Add event listener to keypress
      document.addEventListener("keypress", function (event) {
        if ((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey) {
          submitAndUpdate();
        }
      });
    </script>
  </body>
</html>
